*{
   padding: 0; 
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
}
body{
    height: 100%;
    font-family: montserrat;
 
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    padding: 0 40px;
    background: #222930;
}
main{
    background: #222930;
    flex: 1 0 auto;
}
nav{
    height: 80px;
    width: 100%;
}
.flex{
    display: flex;
}
.logo {
    height: 60px;
    padding: 16px 0;
}
nav ul{
    display: inline;
    margin-left: auto;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: #E9E9E9;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase ;
}
a.active,a:hover { 
    background: #4EB1BA;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #E9E9E9;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.main-wrapper{
    margin: 0 auto;
}
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: 50%; 
}
.about-me__img {
    border-radius: 50%;
}
.about-me__text{
    margin: 32px auto;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #E9E9E9;
}
.about-me__btn {
    display: flex;
}
.btn__wrapper {
    transform: translate(-50%, -50%);
}
.about-me__email {
    width: 200px;
    height: 40px;
    /* border-radius: 30px; */
    line-height: 40px;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    font-family: sans-serif;
    color: #333;
    border: 2px solid #333;
    position: relative;
    transition: all .35s;
    /* position: relative;
    z-index: 2; */
}
.about-me__email:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4EB1BA;
    transition: all .35s;
}
  
.about-me__email:hover{
    color: #fff;
}
  
.about-me__email:hover:after{
width: 100%;
}

.about-me__cv{
    width: 166px;
    height: 48px;
    border-radius: 30px;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
footer {
    flex: 0 0 auto;
    background-color: #4EB1BA;
}
@media (max-width: 1600px) {
    nav ul li a{
        font-size: 14px;
    }
}
@media (max-width: 1200px){
    nav ul li a{
        font-size: 14px;
    }
    label.logo {
        display: none;
    }
}
@media (max-width: 952px){
    nav ul li a{
        font-size: 12px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh; 
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #4EB1BA;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/* section{
    background: url(./assets/img/sea.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
} */