*{
   padding: 0; 
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
}
@font-face {
	font-family: 'UbuntuMono-Regular';
	src: url('./assets/fonts/UbuntuMono-Regular.eot');
	src: local('☺'), url('./assets/fonts/UbuntuMono-Regular.woff') format('woff'), url('./assets/fonts/UbuntuMono-Regular.ttf') format('truetype'), url('./assets/fonts/UbuntuMono-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Righteous-Regular';
	src: url('./assets/fonts/Righteous-Regular.eot');
	src: local('☺'), url('./assets/fonts/Righteous-Regular.woff') format('woff'), url('./assets/fonts/Righteous-Regular.ttf') format('truetype'), url('./assets/fonts/Righteous-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('./assets/fonts/Roboto-Regular.eot');
	src: local('☺'), url('./assets/fonts/Roboto-Regular.woff') format('woff'), url('./assets/fonts/Roboto-Regular.ttf') format('truetype'), url('./assets/fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
    height: 100%;
    background: #222930;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 20px;
    margin: 0 auto;
}
header{
    padding: 20px 80px;
}
main{
    flex: 1 0 auto;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
nav{
    height: 80px;
    width: 100%;
}
.flex{
    display: flex;
}
.logo {
    height: 60px;
    padding: 16px 0;
}
nav ul{
    display: inline;
    margin-left: auto;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: #E9E9E9;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase ;
}
.navigation a.active, .navigation a:hover { 
    background: #4EB1BA;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #E9E9E9;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.main-wrapper{
    margin: 0 auto;
}
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%; 
    position: relative;
    margin-bottom: 60px;
    padding: 20px 80px;
}
.about-me__img {
    border-radius: 50%;
}
.about-me__text{
    margin: 32px auto;
    font-weight: 700;
    font-size: 64px;
    font-family: 'Righteous-Regular';
    text-align: center;
    color: #4EB1BA;
}
.about-me__btn {
    display: flex;
    gap: 50px;
}
.btn__wrapper span {
    position: relative;
    z-index: 2;
}
.about-me__email {
    display: block;
    width: 190px;
    height: 50px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    background-color:  #222930;
    border: 2px solid #fff;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-radius: 30px;
}
.about-me__cv {
    display: block;
    width: 190px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    background-color:  #222930;
    border: 2px solid #fff;
    letter-spacing: 2px;
    position: relative;
    transition: all .35s;
    border-radius: 30px;
    padding: 0;
}
.about-me__email:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4EB1BA;
    border-radius: 30px;
    transition: all .35s;
}
.about-me__cv:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4EB1BA;
    border-radius: 30px;
    transition: all .35s;
}
.about-me__email:hover{
    color: #fff;
}
.about-me__cv:hover{
    color: #fff;
}  
.about-me__email:hover:after{
    width: 100%;
    border-radius: 30px;
}
.about-me__cv:hover:after{
    width: 100%;
    border-radius: 30px;
}
.about-me__desc {
    font-size: 27px;
    margin-top: 32px;
    color: #E9E9E9;
}
.about-me__desc p{
    margin-top: 5px;
    font-family: 'UbuntuMono-Regular';
}
footer {
    flex: 0 0 auto;
    min-height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 80px;
}
.footer__copyright {
    font-family: 'UbuntuMono-Regular';
    font-size: 24px;
    color: #E9E9E9;
    margin-right: 400px;
}
.footer-links__item{
    font-family: 'UbuntuMono-Regular';
    font-size: 24px;
    color: #E9E9E9;
    margin-right: 400px;
}
.contact-links__link{
    color: #E9E9E9;
}
.github{
    position: absolute;
    top: calc(60% - 0rem);
    right: 15rem;
    animation: spin infinite 26s linear;
}
.linkedin{
    position: absolute;
    top: calc(60% - 0rem);
    left: 15rem;
    animation: spin infinite 28s linear;
}
.contact-links__item:hover{
    transform: scale(1.25);
}
.skills{
    margin-bottom: 60px;
    padding: 20px 80px;
}
.skills__title{
    font-family: 'Roboto-Regular';
    font-size: 36px;
    color: #E9E9E9;
    margin-bottom: 25px;
    color: #66cc99;
}
.skills__frame{
    width: 600px;
    background-color: #222930;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 50px;
}
.skills__list-item {
    display: flex;
    margin-bottom: 15px;
}
.skill{
    font-family: 'UbuntuMono-Regular';
    font-size: 24px;
    color: #E9E9E9;
}
.skills_tick {
    margin-right: 10px;
}
.experience{
    margin-bottom: 60px;
    font-family: 'UbuntuMono-Regular';
    padding: 20px 80px;
}
.experience-content{
    font-size: 30px;
    color: #66cc99;
}
.experience__title{
    font-family: 'Roboto-Regular';
    font-size: 36px;
    color: #E9E9E9;
    margin-bottom: 25px;
    color: #66cc99;
}
.time{
    font-size: 26px;
    color: #E9E9E9;
}
.company-description{
    font-size: 24px;
    color: #E9E9E9;
    margin-bottom: 40px;
}
.experience__wrapper{
    display: flex;
}
.company-wrapper{
    margin-right: 150px;
}
.time{
    margin-top: 10px;
}
.company__content{
    margin-top: 12px;  
}
hr{
    color: #66cc99;
    margin-bottom: 15px;
    margin-top: 15px;
}
.education{
    margin-bottom: 60px;
    font-family: 'UbuntuMono-Regular';
    padding: 20px 80px;
}
.education__title{
    font-family: 'Roboto-Regular';
    font-size: 36px;
    color: #E9E9E9;
    margin-bottom: 25px;
    color: #66cc99;
}
.education__wrapper{
    display: flex;
}
.education__year{
    font-size: 26px;
    color: #E9E9E9;
    
    width: 200px;
}
.education__degree{
    font-size: 26px;
    color: #E9E9E9;
    margin-right: 100px;
    width: 200px;
}
.education__name{
    font-size: 26px;
    color: #E9E9E9;
    margin-right: 100px;
    width: 460px;
}
.education__place{
    font-size: 26px;
    color: #E9E9E9;
    margin-right: 100px;
    width: 400px;
}
.footer__wrapper{
    display: flex;
}
.languages__columns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.languages{
    padding: 20px 80px;
    margin-bottom: 60px;
}
.language__column{
    flex: 25%;
}
.language__content{
    font-family: 'Roboto-Regular';
    font-size: 30px;
    color: #E9E9E9;
    margin-bottom: 15px;
}
.language__degree{
    font-family: 'Roboto-Regular';
    font-size: 26px;
    color: #E9E9E9;
}
.languages__title{
    font-family: 'Roboto-Regular';
    font-size: 36px;
    margin-bottom: 25px;
    color: #66cc99;
}
.code__examples{
    margin-bottom: 60px;
    font-family: 'UbuntuMono-Regular';
    padding: 20px 80px;
}
.code__title{
    font-family: 'Roboto-Regular';
    font-size: 36px;
    margin-bottom: 25px;
    color: #66cc99;
}
.code{
    font-family: 'Roboto-Regular';
    font-size: 26px;
    color: #E9E9E9;
}
.projects{
    margin-bottom: 60px;
    font-family: 'UbuntuMono-Regular';
    padding: 20px 80px;
}
.project__content{
   margin-right: 200px;
}
.projects__box{
    display: flex;
}
.projects__title{
    font-family: 'Roboto-Regular';
    font-size: 36px;
    margin-bottom: 25px;
    color: #66cc99;
}
.projects__subtitle{
    margin-top: 20px;
}
.project__content-text{
    font-family: 'Roboto-Regular';
    font-size: 20px;
}
.kolesa-img{
    width: 400px;
    height: 300px;
}
.project__content-desc{
    flex-wrap: wrap;
}
.projects__subtitle {
    font-family: 'Roboto-Regular';
    font-size: 30px;
    color: #E9E9E9;
}
.projects__desc{
    font-family: 'Roboto-Regular';
    font-size: 30px;
    color: #E9E9E9;
}
@keyframes spin{
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-250px) rotate(360deg);
    }
}
@media (max-width: 1600px) {
    nav ul li a{
        font-size: 14px;
    }
    .about-me{
        position: relative;
    }
    .github{
        position: absolute;
        top: calc(100% - 15rem);
        right: 17rem;
        animation: spin infinite 25s linear;
    }
    .linkedin{
        position: absolute;
        top: calc(100% - 15rem);
        left: 17rem;
        animation: spin infinite 23s linear;
    }
    .about-me__desc {
        font-size: 24px;
        margin-top: 28px;
    }
    @keyframes spin{
        0%, 100% {
          transform: translateY(0) rotate(0deg);
        }
        50% {
          transform: translateY(-250px) rotate(360deg);
        }
    }
}
@media (max-width: 1200px){
    nav ul li a{
        font-size: 14px;
    }
    label.logo {
        display: none;
    }
    .about-me__text {
        margin: 30px auto;
        font-weight: 700;
        font-size: 60px;
    }
    .about-me__cv {
        width: 170px;
        height: 50px;
        line-height: 46px;
        font-size: 18px;
    }
    .about-me__email{
        width: 170px;
        height: 50px;
        line-height: 46px;
        font-size: 18px;
    }
}
@media (max-width: 952px){
    nav ul li a{
        font-size: 12px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh; 
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #4EB1BA;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
